{% extends "templates/base.twig" %}

{% block title %} Admin Home {% endblock %}

{% block body %}
    <h2>Welcome {{ name }}</h2>
    <form action="/userdets" method="GET">
        <input type="submit" value="User Details">
    </form>
    <form action="/adminbook" method="GET">
        <input type="submit" value="Book Catalog">
    </form>
    <form action="/adminreq" method="GET">
        <input type="submit" value="Manage Requests">
    </form>
    <form action="/" method="GET">
        <input type="submit" value="Logout">
    </form>
{% endblock %}