{% extends "templates/base.twig" %}
{% block title %}Admin Login{% endblock %}


{% block body %}
<h2>Welcome Admin</h2>
   <form action="/adminlog" method="POST">
    <div class="text">Username: <input type="text" name="usr"></div>
    <br>
    <div class="text">Password: <input type="password" name="pass"></div>
    <br>
    <input type="submit" value="Login">
  </form>
    {% if error %}
    Invalid Username or password
    {% endif %}
{% endblock %}