{% extends "templates/base.twig" %}
{% block title %}Book Deletion{% endblock %}


{% block body %}
<h2>Welcome to Book Deletion</h2>
   <form action="/bookdel" method="POST">
    <div class="text"><div class="mylabel">Book ID:</div><input class="myinput" type="text" name="bid"><br></div>
    <input type="submit" value="Delete Book">
  </form>
  <form action="/adminhome" method="GET">
    <input class="invert" type="submit" value="Home">
</form>
{% if status == 1 %}
Deletion Successful
{% endif %}
{% if status == 2 %}
Deletion Unsuccessful
{% endif %}
{% endblock %}