{% extends "templates/base.twig" %}
{% block title %}Book Registraion{% endblock %}


{% block body %}
<h2>Book Registraion</h2>
    <form action="/bookreg" method="POST">
    <div class="text">Book Name: <input type="text" name="name"><br></div>
    <div class="text">Author: <input type="text" name="author"><br></div>
    <div class="text">Publisher: <input type="text" name="pub"><br></div>
    <div class="text">Quantity: <input type="text" name="qty"><br></div>
    <input type="submit" value="Register">
  </form>
  <form action="/adminhome" method="GET">
    <input type="submit" value="Return">
</form>
{% if stat == 1 %}
Registraion Successful
{% endif %}
{% if stat == 2 %}
Registraion Unsuccessful
{% endif %}
{% endblock %}