{% extends "templates/base.twig" %}
{% block title %}Book Deletion{% endblock %}


{% block body %}
<h2>Welcome to Book Deletion</h2>
   <form action="/bookdel" method="POST">
    <div class="text">Book ID: <input type="text" name="bid"><br></div>
    <input type="submit" value="Delete Book">
  </form>
  <form action="/adminhome" method="GET">
    <input type="submit" value="Home">
</form>
{% if stat == 1 %}
Deletion Successful
{% endif %}
{% if stat == 2 %}
Deletion Unsuccessful
{% endif %}
{% endblock %}