{% extends "templates/base.twig" %}

{% block title %} Illegal Access {% endblock %}

{% block body %}
<h2>Illegal Access</h2>
    <form action="/" method="GET">
        <input type="submit" value="Return To Home">
    </form>
{% endblock %}