{% extends "templates/base.twig" %}
{% block title %}User Login{% endblock %}


{% block body %}
<h2>Welcome User</h2>
   <form action="/userlog" method="POST">
    <div class="text"><div class="mylabel">Username:</div><input class="myinput" type="text" name="user"></div>
    <br>
    <div class="text"><div class="mylabel">Password:</div><input class="myinput" type="password" name="pass"></div>
    <br>
    <input type="submit" value="Login">
  </form>
  <form action="/" method="GET">
    <input class="invert" type="submit" value="Home">
</form>

{% if error %}
Invalid Username or password
{% endif %}
{% endblock %}