{% extends "templates/base.twig" %}
{% block title %}User Login{% endblock %}


{% block body %}<h2>Welcome User</h2>
   <form action="/userlog" method="POST">
    <div class="text"><div class="label">Username:</div><input class="myinput" type="text" name="usr">
    <br></div>
    <div class="text"><div class="label">Password:</div><input class="myinput" type="password" name="pass">
    <br></div>
    <input type="submit" value="Login" name="submit">
  </form>
  <form action="/" method="GET">
    <input class="invert" type="submit" value="Home">
</form>

{% if error %}
Invalid Username or password
{% endif %}
{% endblock %}