{% extends "templates/base.twig" %}

{% block title %} User Details {% endblock %}

{% block body %}
<h2>User Details Search</h2>
        <form action="/userdets" method="POST">
    <div class="text">Username: <label id="usr"><input type="text" name="usr"></label>
    <br></div>
    <input type="submit" value="Submit" name="submit">
  </form>
{% if stat==1 %}
Search Results
<table>
<tr><th>Username</th><th>Name</th><th>Email</th><th>Phone No</th></tr>
<tr><td>{{dat.usr}}</td><td>{{dat.name}}</td><td>{{dat.email}}</td><td>{{dat.phone}}</td></tr>
</table>
{% endif %}
{% if stat==2 %}
No details found
{% endif %}
    <form action="/adminhome" method="GET">
        <input type="submit" value="Return">
    </form>
{% endblock %}  